# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp

# Datasets - Rất quan trọng, không đẩy dữ liệu lên Git
*.csv
*.txt
*.dat
*.npz
*.gz
data/
datasets/

# Jupyter Notebook
.ipynb_checkpoints
