# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp

# Datasets - Do not commit raw data files
# We specify the top-level data folder to avoid ignoring python source code
# in quantumfed/data
/data/

# Jupyter Notebook
.ipynb_checkpoints
